In [37]:
import sys

sys.path.append("../src")
import numpy as np
import pandas as pd

from ranking_sim import (
    process_raw_data,
    rank_by_brier,
    rank_by_bss,
)

In [38]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [39]:
INPUT_FOLDER = "../data/raw"

In [40]:
df = process_raw_data(f"{INPUT_FOLDER}/llm_and_human_leaderboard_overall.pkl")
df.head()

,id,source,direction,forecast_due_date,market_value_on_due_date,resolution_date,resolved_to,resolved,forecast,imputed,score,model,organization,question_type,horizon,question_id
0,1285,infer,(),2024-07-21,0.0163,2025-01-01,0.0,True,0.5000,False,0.250000,Claude-2.1 (scratchpad),Anthropic,market,NaN,infer-1285-nan-2024-07-21
1,1286,infer,(),2024-07-21,0.0292,2025-01-01,0.0,True,0.0292,True,0.000853,Claude-2.1 (scratchpad),Anthropic,market,NaN,infer-1286-nan-2024-07-21
2,1342,infer,(),2024-07-21,0.0088,2025-01-01,0.0,True,0.0088,True,0.000077,Claude-2.1 (scratchpad),Anthropic,market,NaN,infer-1342-nan-2024-07-21
3,1353,infer,(),2024-07-21,0.4943,2024-12-01,0.0,True,0.4943,True,0.244332,Claude-2.1 (scratchpad),Anthropic,market,NaN,infer-1353-nan-2024-07-21
5,1373,infer,(),2024-07-21,0.7474,2025-01-01,0.0,True,0.7474,True,0.558607,Claude-2.1 (scratchpad),Anthropic,market,NaN,infer-1373-nan-2024-07-21

In [4]:
mask = df['question_type'] == 'market'
df.loc[mask, 'horizon'].unique()

array([7])

In [5]:
mask = df['question_type'] == 'market'
df.loc[mask, ['source', 'id', 'model', 'forecast']].duplicated().any()

np.False_